@font-face {
  font-family: 'NordicFont';
  src: url('../assets/norse-bold-webfont.woff2') format('woff2');
}

.container.home {
  width: 80%;
  margin: 0 auto;
  display: grid;
}

.container.home img {
  height: 400px;
  margin: 0 auto;
  min-width: 600px;
  border-radius: 15px;
}

.container.home h1 {
  font-size: 5rem;
  font-family: 'NordicFont', 'Courier New', Courier, monospace;
}