.container.menu  {
  display: grid;
  place-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;
  justify-content: center;
}

.container.menu li {
  width: 450px;
  height: 175px;
  display: grid;
  grid: 2fr 3fr / auto 1fr;
  gap: 5px 10px;

  background-color: rgba(250, 250, 210, 0.95);
  border-radius: 5px;
  padding: 15px;
}

li > img {
  grid-row: 1 / -1;
  place-self: center;
  height: 120px;
  max-width: auto;
  border-radius: 5px;
}

li > h2 {
  place-self: end start;
  font-size: 1.7rem;
}

li > span {
  place-self: start;
  text-align: left;
}